.user-card {
  .user-profile {
    display: flex;
    align-items: center;
    z-index: 5;
    .user-avatar {
      width: 30px;
      height: 30px;
      img {
        width: 100%;
      }
    }
    .user-name {
      margin-left: 5px;
    }
  }
}